<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@nosugi1" />

{{ if .Title }}
  <meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />
  <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}" />
  <title>{{ .Site.Title }}</title>
{{ end }}

{{ if .Description }}
  <meta name="twitter:description" content="{{ .Description }}" />
{{ end }}

{{ if .Params.Image }}
 <meta property="og:image" content="https://raw.githubusercontent.com/pipinosuke/blog/gh-pages/images/thumbs/{{ .Params.Image }}" />
 <meta name="twitter:image" content="https://raw.githubusercontent.com/pipinosuke/blog/gh-pages/images/thumbs/{{ .Params.Image }}" />
{{ else }}
 <meta property="og:image" content="https://raw.githubusercontent.com/pipinosuke/blog/gh-pages/images/avator.jpg" />
 <meta name="twitter:image" content="https://raw.githubusercontent.com/pipinosuke/blog/gh-pages/images/avator.jpg" />
{{ end }}
  <!-- <meta name="twitter:image" content="https://raw.githubusercontent.com/pipinosuke/blog/gh-pages/images/thumbs/avator.jpg" /> -->


  <!-- <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ prefix属性#"> -->

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content=" {{ .Title }} " />
<meta property="og:url" content="{{.URL}}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Description }}" />
  <!-- Custom CSS -->
  <!-- Those css minifined and combined together. See combined-min.css below
  <link rel="stylesheet" type="text/css" href="/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css"> -->

  <!-- Highlight -->
  <!-- Also minified and combined into combined-min.css
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

  <!-- Fonts -->
  <!-- Combined and minified
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'> -->

  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/combined-min.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/tipuesearch/tipuesearch.css">

</head>
<body class="">
