{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h4 class="py2">{{ .Title }}</h4>
        <img src="{{ $baseurl }}/images/thumbs/{{ .Params.image }}" alt="{{ .Params.image }}" style="max-width: 100%; height: auto;">
        <p class="post-meta">{{ i18n "tags" }}:&nbsp;
          {{ range $i, $e := .Params.tags }}
              {{if $i}},&nbsp;{{end}}
              <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . | lower }}">{{ . }}</a>
          {{ end }}
        </p>

      </div>

      <article class="post-content">
        <h5 >前置き</h5>
        <p>{{ .Description }}</p>
        {{ .Content }}
      </article>
      <span class="post-meta">{{ .Date.Format "2006年1月2日" }} written by <a href="{{ $baseurl }}/about">{{ .Site.Params.author }}</a></span>
      <center><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
